<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!--mobile scaling-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <!--custom css-->
        <link rel="stylesheet" href="../style.css">
        <!--jquery-->
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="result-container">
            <p class="error"></p>
            <h1 class="display">Result</h1>
            <div class="link">
                <p class="no-margin">Permalink for your result:</p>
                <a id="link" class="no-margin" href="<%= link %>"><%= link %></a>
            </div>
            <div class="results">
                <div>
                    <div class="results-word">                    
                        <h5><%= word0 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word1 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word2 %></h5>          
                    </div>
                    <div class="results-word">                    
                        <h5><%= word3 %></h5>  
                    </div>
                    <div class="results-word">                    
                        <h5><%= word4 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word5 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word6 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word7 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word8 %></h5>  
                    </div>
                    <div class="results-word">                    
                        <h5><%= word9 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word10 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word11 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word12 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word13 %></h5>
                    </div>
                    <div class="results-word">                    
                        <h5><%= word14 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word15 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word16 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word17 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word18 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word19 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word20 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word21 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word22 %></h5>                        
                    </div>
                    <div class="results-word">                    
                        <h5><%= word23 %></h5>                        
                    </div>
                </div>
                <div>
                    <div class="results-answer">  
                        <h5><%= answer0 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer1 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer2 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer3 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer4 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer5 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer6 %></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer7%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer8%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer9%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer10%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer11%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer12%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer13%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer14%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer15%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer16%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer17%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer18%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer19%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer20%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer21%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer22%></h5>
                    </div>
                    <div class="results-answer">  
                        <h5><%= answer23%></h5>
                    </div>
                </div>
                <div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time0%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time1%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time2%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time3%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time4%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time5%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time6%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time7%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time8%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time9%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time10%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time11%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time12%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time13%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time14%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time15%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time16%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time17%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time18%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time19%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time20%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time21%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time22%>
                    </div>
                    <div class="results-time">                    
                        <h5>time: </h5>
                        <%- time23%>
                    </div>
                </div>
            </div>
            <a href="https://github.com/ScarySheep/" target="_blank" class="footer">About me</a>
        </div>        
    </body>      
</html>